<h2> All Recipes </h2>
<br>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:category, "Search by category:") %>
  <%= collection_select :recipe, :category, @categories , :itself, :itself, {:include_blank => 'All'}%>
  <%= submit_tag("Search") %>
<% end %>
<br>
<% @recipes.each do |recipe| %>
<%= link_to recipe.name, recipe %><br>
<% end %>
<br><br>
