<!DOCTYPE html>
<html>
  <head>
    <title>HealthBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <h1> HealthBox </h1>
    <h3> Healthy meals in a box to your door. </h3>
    <br>
    <%= yield %>
  </body>
</html>
